<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EmailMarketing" value="mkt@empresa.com" />
    <add key="EmailSuporte" value="ti@empresa.com" />
    <add key="EnableEnvioemail" value="true" />
    <add key="Feature1" value="true" />
  </appSettings>
  <connectionStrings>
    <add connectionString="" />
  </connectionStrings>
</configuration>